<!-- Blog Sidebar Widgets Column - choose to view the ledger or enter invoices -->
            <div class="col-md-4">
                
                <!-- Blog Search Well -->
                <!--
                <div class="well">
                    <h4>Search Page</h4>
                    <form action="/search" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search_text">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" name="btn_search">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    </form>
                 
                    
                </div>
                -->
                <!-- Login form  -->
                <div class="well">
                    <h2>Login</h2>
                                 
                                
                    <form action="/login" method="POST">
                      <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="User name">                         
                      </div>
                      <div class="input-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <span class="input-group-btn"><button class="btn btn-success">Login</button></span>
                                                             
                                                             
                                              
                      </div>                                                                                 
                    </form>                   
                </div>
                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>What would you like to do?</h4>
                    <div class="row">
                        <div class="col-lg-12>
                          <ul class="list-styled">
                            <li><a href="/vendor_review">View Purchase ledger</a></li>
                            <li><a href="/enter_invoices">Enter Invoices</a></li>
                            <li><a href="">Payment Processing</a></li>
                            <li><a href="">Update/Add Vendor</a></li>
                            <li><a href="">Posting Logs</a></li>
                          </ul>
                        </div>
                        
                    </div>
                    <!-- /.row -->
                </div>
                                                                                          
                

                <!-- About Widget -->
                <div class="well">
                    <h4>Node / SQL accounts system</h4>
                    <p>by Bevan Dady</p>
                </div>

            </div>

        </div>
        <!-- /.row -->